.sidebar-img {
    width: 25px;
    height: 25px;
    margin: 15px;
}
.sidebar-item {
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
}
.sidebar-text {
    font-size: 15px;
    font-weight: 600;
}

.sidebar-item:hover{
    background-color: #3f3939;
} 